@import "tailwindcss/base";
@import "./generic/_layout.pcss";
@import "./generic/_typography.pcss";
@import "./generic/_form.pcss";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
