<html lang="{{ craft.app.language }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=5, user-scalable=yes">
    <link rel="home" href="{{ siteUrl }}"/>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    {% hook 'seo' %}
    {% set settings = craft.entries.section('settings').with(['footerNavigation', 'mainNavigation', 'contactTeaser', 'contactTeaser.teaser:icon', 'contactForm']).one() %}
    {{ craft.vite.script('src/scripts/app.js', false) }}
</head>

<body {{ craft.app.config.general.devMode ? 'data-dev-mode="true"' }}>

<div id="app"  v-cloak>
    <header class="py-6 lg:py-12 z-50 relative">
        <div class="container max-w-6xl">
            <div class="flex justify-between items-center">

                <logo site-url="/" class="mx-auto">

            </div>
        </div>
    </header>
    <main>
        <section class="pt-12 ">
            <div class="container max-w-6xl">
                {% include '_atoms/headline.twig' with {
                    headlineType: 'h1',
                    headline: 'Hier geht es bald weiter',
                } %}
            </div>
        </section>
        <section class="py-12">
            <div class="container max-w-6xl">
                <div class="text-center typo">
                    <p>Unsere Webseite befindet sich immernoch in der Umgestaltungsphase.<br />
                        Hoffentlich sind wir bald soweit, wieder an den Start gehen zu können.</p>
                    <p>Bis dahin schreibt uns gern per Mail oder Insta:</p>
                </div>

                <div class="flex justify-center items-center space-x-6 my-24">
                    <a class="text-primary border-primary hover:bg-primary hover:text-white font-bold border-2 rounded-[30px] text-lg lg:text-xl py-2 px-4 lg:w-[360px] flex justify-center items-center text-center z-30" href="mailto:info@b-aware-berlin.de">Mail Schreiben</a>
                    <a href="https://www.instagram.com/b_aware_kollektiv/" target="_blank" class="text-primary border-primary hover:bg-primary hover:text-white font-bold border-2 rounded-[30px] text-lg lg:text-xl py-2 px-4 lg:w-[360px] flex justify-center items-center text-center z-30">Insta besuchen</a>
                </div>

            </div>
        </section>
    </main>
</div>

{# Craft CSRF token #}
{% include '_inline-scripts/_craft-csrf-token.twig' %}

</body>
</html>
